# Women of Marvel

### Este análisis de datos se centra en destacar la presencia y el impacto de las mujeres en el universo de Marvel. Exploraremos sus habilidades, sus roles en las historias, su representación en los cómics y en las adaptaciones cinematográficas, y comparar el porcentaje de mujeres y hombres dentro del mundo del cómic. Al arrojar luz sobre estas figuras poderosas, buscamos reconocer su importancia y celebrar su contribución a la rica narrativa de Marvel.

In [1]:
pip install pandas odfpy

Requirement already satisfied: pandas in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: odfpy in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: defusedxml in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from odfpy) (0.7.1)
Requirement already satisfied: six>=1.5 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\Propietario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from odf.opendocument import load
from odf.table import Table, TableRow, TableCell

In [3]:
def read_ods(file_path):
    doc = load(file_path)
    sheet = doc.spreadsheet.getElementsByType(Table)[0]

    data = []
    for row in sheet.getElementsByType(TableRow):
        cells = [cell.getElementsByType(TableCell)[0].textContent for cell in row.getElementsByType(TableCell)]
        data.append(cells)

    return pd.DataFrame(data)

In [4]:
%pip install pyexcel-ods3

import pyexcel_ods3

# Leer el archivo ODS
data = pyexcel_ods3.get_data('marvel_superheroes.ods')

# Verificar los nombres de las hojas
print(data.keys())

# Convertir la hoja de cálculo en un DataFrame de pandas
sheet_name = 'Hoja1'  # Cambia esto al nombre de tu hoja si es diferente
df_los30mejoresmixto = pd.DataFrame(data[sheet_name])

# Mostrar el DataFrame
print(df_los30mejoresmixto)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\Propietario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pyexcel-ods3 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.6.1)
Requirement already satisfied: pyexcel-io>=0.6.2 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (0.6.7)
Requirement already satisfied: lxml in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (5.3.1)
Requirement already satisfied: pyexcel-ezodf>=0.3.3 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (0.3.4)
Requirement already satisfied: lml>=0.0.4 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-io>=0.6.2->pyexcel-ods3) (0.1.0)
Note: you may need to restart the kernel to use updated packages.
odict_keys(['Hoja1'])
        0                1            2                            3
0   Rango        Personaje  Popularidad  Ventas Estimadas (Millones)
1       1       Spider-Man     Muy Alta                          900
2       2         Iron Man     Muy Alta                          750
3       3  Captain America     Muy Alta                          800
4       4        Wolverine     Muy Alta                          700
5       5             Thor     Muy Alta                          650
6       6             Hulk         Alta                          600
7       7      Black Widow         Alta                          530
8       8   Doctor Strange         Alta                          500
9       9    Scarlet Witch         Alta                          550
10     10    Black Panther         Alta                          580
11     11   Captain Marvel         Alta                          540
12     12          Ant-Man         Alta                          450
13     13          Hawkeye         Alta                          400
14     14           Vision         Alta                          420
15     15           Falcon         Alta                          410
16     16   Winter Soldier         Alta                          430
17     17        Star-Lord         Alta                          440
18     18           Gamora         Alta                          430
19     19            Groot         Alta                          450
20     20   Rocket Raccoon         Alta                          460
21     21             Drax         Alta                          420
22     22           Mantis         Alta                          410
23     23           Nebula         Alta                          400
24     24             Loki         Alta                          470
25     25           Thanos         Alta                          480
26     26        Jean Grey         Alta                          490
27     27          Cyclops         Alta                          450
28     28            Storm         Alta                          600
29     29          Magneto         Alta                          500
30     30         Deadpool         Alta                          550

In [5]:
df_los30mejoresmixto.to_csv('marvel_superheroes.csv', index=False)

In [6]:
df_los30mejoresmixto

        0                1            2                            3
0   Rango        Personaje  Popularidad  Ventas Estimadas (Millones)
1       1       Spider-Man     Muy Alta                          900
2       2         Iron Man     Muy Alta                          750
3       3  Captain America     Muy Alta                          800
4       4        Wolverine     Muy Alta                          700
5       5             Thor     Muy Alta                          650
6       6             Hulk         Alta                          600
7       7      Black Widow         Alta                          530
8       8   Doctor Strange         Alta                          500
9       9    Scarlet Witch         Alta                          550
10     10    Black Panther         Alta                          580
11     11   Captain Marvel         Alta                          540
12     12          Ant-Man         Alta                          450
13     13          Hawkeye         Alta                          400
14     14           Vision         Alta                          420
15     15           Falcon         Alta                          410
16     16   Winter Soldier         Alta                          430
17     17        Star-Lord         Alta                          440
18     18           Gamora         Alta                          430
19     19            Groot         Alta                          450
20     20   Rocket Raccoon         Alta                          460
21     21             Drax         Alta                          420
22     22           Mantis         Alta                          410
23     23           Nebula         Alta                          400
24     24             Loki         Alta                          470
25     25           Thanos         Alta                          480
26     26        Jean Grey         Alta                          490
27     27          Cyclops         Alta                          450
28     28            Storm         Alta                          600
29     29          Magneto         Alta                          500
30     30         Deadpool         Alta                          550

In [7]:
%pip install pyexcel-ods3

import pyexcel_ods3

# Leer el archivo ODS
data = pyexcel_ods3.get_data('quien_vende_mas.ods')

# Verificar los nombres de las hojas
print(data.keys())

# Convertir la hoja de cálculo en un DataFrame de pandas
sheet_name = 'Hoja1'  # Cambia esto al nombre de tu hoja si es diferente
df_quienvendemas = pd.DataFrame(data[sheet_name])

# Mostrar el DataFrame
print(df_quienvendemas)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\Propietario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pyexcel-ods3 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.6.1)
Requirement already satisfied: pyexcel-io>=0.6.2 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (0.6.7)
Requirement already satisfied: lxml in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (5.3.1)
Requirement already satisfied: pyexcel-ezodf>=0.3.3 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-ods3) (0.3.4)
Requirement already satisfied: lml>=0.0.4 in c:\users\propietario\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyexcel-io>=0.6.2->pyexcel-ods3) (0.1.0)
Note: you may need to restart the kernel to use updated packages.
odict_keys(['Hoja1'])
        0                1              2                              3 4  \
0   Rango            Woman  Popularidad_W  Ventas Estimadas (Millones)-W
1       1   Captain Marvel       Muy Alta                            540
2       2      Black Widow       Muy Alta                            530
3       3    Scarlet Witch       Muy Alta                            550
4       4            Storm       Muy Alta                            600
5       5        Jean Grey       Muy Alta                            490
6       6  Invisible Woman           Alta                            580
7       7         She-Hulk           Alta                            450
8       8           Gamora           Alta                            430
9       9             Wasp           Alta                            420
10     10            Rogue           Alta                            410
11     11          Elektra           Alta                            400
12     12    Jessica Jones           Alta                            390
13     13      Kitty Pryde           Alta                            380
14     14         Mystique           Alta                            370
15     15         Valkyrie           Alta                            360
16     16            Shuri           Alta                            350
17     17           Nebula           Alta                            340
18     18           Mantis           Alta                            330
19     19     Peggy Carter           Alta                            320
20     20    Squirrel Girl           Alta                            310
21     21           Medusa           Alta                            300
22     22       Moondragon           Alta                            290
23     23     Spider-Woman           Alta                            280
24     24         Psylocke           Alta                            270
25     25          Jubilee           Alta                            260
26     26          Dazzler           Alta                            250
27     27   America Chavez           Alta                            240
28     28   Monica Rambeau           Alta                            230
29     29             X-23           Alta                            220
30     30           Domino           Alta                            210

                  5              6                              7
0             Men-M  Popularidad-M  Ventas Estimadas (Millones)_M
1        Spider-Man       Muy Alta                            900
2          Iron Man       Muy Alta                            750
3   Captain America       Muy Alta                            800
4         Wolverine       Muy Alta                            700
5              Thor       Muy Alta                            650
6              Hulk           Alta                            600
7    Doctor Strange           Alta                            500
8     Black Panther           Alta                            580
9          Deadpool           Alta                            550
10          Ant-Man           Alta                            450
11          Hawkeye           Alta                            400
12           Vision           Alta                            420
13           Falcon           Alta                            410
14   Winter Soldier           Alta                            430
15        Star-Lord           Alta                            440
16            Groot           Alta                            450
17   Rocket Raccoon           Alta                            460
18             Drax           Alta                            420
19             Loki           Alta                            470
20           Thanos           Alta                            480
21          Cyclops           Alta                            450
22          Magneto           Alta                            500
23      Quicksilver           Alta                            430
24            Beast           Alta                            410
25           Gambit           Alta                            400
26         Colossus           Alta                            390
27     Nightcrawler           Alta                            380
28           Iceman           Alta                            370
29    Silver Surfer           Alta                            360
30         Punisher           Alta                            350

In [8]:
df_quienvendemas.to_csv('quien_vende_mas.csv', index=False)
df_quienvendemas

,0,1,2,3,4,5,6,7
0,Rango,Woman,Popularidad_W,Ventas Estimadas (Millones)-W,,Men-M,Popularidad-M,Ventas Estimadas (Millones)_M
1,1,Captain Marvel,Muy Alta,540,,Spider-Man,Muy Alta,900
2,2,Black Widow,Muy Alta,530,,Iron Man,Muy Alta,750
3,3,Scarlet Witch,Muy Alta,550,,Captain America,Muy Alta,800
4,4,Storm,Muy Alta,600,,Wolverine,Muy Alta,700
5,5,Jean Grey,Muy Alta,490,,Thor,Muy Alta,650
6,6,Invisible Woman,Alta,580,,Hulk,Alta,600
7,7,She-Hulk,Alta,450,,Doctor Strange,Alta,500
8,8,Gamora,Alta,430,,Black Panther,Alta,580
9,9,Wasp,Alta,420,,Deadpool,Alta,550
10,10,Rogue,Alta,410,,Ant-Man,Alta,450
11,11,Elektra,Alta,400,,Hawkeye,Alta,400
12,12,Jessica Jones,Alta,390,,Vision,Alta,420
13,13,Kitty Pryde,Alta,380,,Falcon,Alta,410
14,14,Mystique,Alta,370,,Winter Soldier,Alta,430
15,15,Valkyrie,Alta,360,,Star-Lord,Alta,440
16,16,Shuri,Alta,350,,Groot,Alta,450
17,17,Nebula,Alta,340,,Rocket Raccoon,Alta,460
18,18,Mantis,Alta,330,,Drax,Alta,420
19,19,Peggy Carter,Alta,320,,Loki,Alta,470
20,20,Squirrel Girl,Alta,310,,Thanos,Alta,480
21,21,Medusa,Alta,300,,Cyclops,Alta,450
22,22,Moondragon,Alta,290,,Magneto,Alta,500
23,23,Spider-Woman,Alta,280,,Quicksilver,Alta,430
24,24,Psylocke,Alta,270,,Beast,Alta,410
25,25,Jubilee,Alta,260,,Gambit,Alta,400
26,26,Dazzler,Alta,250,,Colossus,Alta,390
27,27,America Chavez,Alta,240,,Nightcrawler,Alta,380
28,28,Monica Rambeau,Alta,230,,Iceman,Alta,370
29,29,X-23,Alta,220,,Silver Surfer,Alta,360
30,30,Domino,Alta,210,,Punisher,Alta,350

In [9]:
df_quienvendemas.describe().T

  count unique                            top freq
0    31     31                          Rango    1
1    31     31                          Woman    1
2    31      3                           Alta   25
3    31     31  Ventas Estimadas (Millones)-W    1
4    31      1                                  31
5    31     31                          Men-M    1
6    31      3                           Alta   25
7    31     24                            450    3

In [10]:
# Usar la primera fila como nombres de columnas para df_los30mejoresmixto
df_los30mejoresmixto.columns = df_los30mejoresmixto.iloc[0]
df_los30mejoresmixto = df_los30mejoresmixto[1:]

# Usar la primera fila como nombres de columnas para df_quienvendemas
df_quienvendemas.columns = df_quienvendemas.iloc[0]
df_quienvendemas = df_quienvendemas[1:]

# Mostrar los DataFrames actualizados
print(df_los30mejoresmixto)
print(df_quienvendemas)

0  Rango        Personaje Popularidad Ventas Estimadas (Millones)
1      1       Spider-Man    Muy Alta                         900
2      2         Iron Man    Muy Alta                         750
3      3  Captain America    Muy Alta                         800
4      4        Wolverine    Muy Alta                         700
5      5             Thor    Muy Alta                         650
6      6             Hulk        Alta                         600
7      7      Black Widow        Alta                         530
8      8   Doctor Strange        Alta                         500
9      9    Scarlet Witch        Alta                         550
10    10    Black Panther        Alta                         580
11    11   Captain Marvel        Alta                         540
12    12          Ant-Man        Alta                         450
13    13          Hawkeye        Alta                         400
14    14           Vision        Alta                         420
15    15           Falcon        Alta                         410
16    16   Winter Soldier        Alta                         430
17    17        Star-Lord        Alta                         440
18    18           Gamora        Alta                         430
19    19            Groot        Alta                         450
20    20   Rocket Raccoon        Alta                         460
21    21             Drax        Alta                         420
22    22           Mantis        Alta                         410
23    23           Nebula        Alta                         400
24    24             Loki        Alta                         470
25    25           Thanos        Alta                         480
26    26        Jean Grey        Alta                         490
27    27          Cyclops        Alta                         450
28    28            Storm        Alta                         600
29    29          Magneto        Alta                         500
30    30         Deadpool        Alta                         550
0  Rango            Woman Popularidad_W Ventas Estimadas (Millones)-W    \
1      1   Captain Marvel      Muy Alta                           540
2      2      Black Widow      Muy Alta                           530
3      3    Scarlet Witch      Muy Alta                           550
4      4            Storm      Muy Alta                           600
5      5        Jean Grey      Muy Alta                           490
6      6  Invisible Woman          Alta                           580
7      7         She-Hulk          Alta                           450
8      8           Gamora          Alta                           430
9      9             Wasp          Alta                           420
10    10            Rogue          Alta                           410
11    11          Elektra          Alta                           400
12    12    Jessica Jones          Alta                           390
13    13      Kitty Pryde          Alta                           380
14    14         Mystique          Alta                           370
15    15         Valkyrie          Alta                           360
16    16            Shuri          Alta                           350
17    17           Nebula          Alta                           340
18    18           Mantis          Alta                           330
19    19     Peggy Carter          Alta                           320
20    20    Squirrel Girl          Alta                           310
21    21           Medusa          Alta                           300
22    22       Moondragon          Alta                           290
23    23     Spider-Woman          Alta                           280
24    24         Psylocke          Alta                           270
25    25          Jubilee          Alta                           260
26    26          Dazzler          Alta                           250
27    27   America Chavez          Alta                           240
28    28   Monica Rambeau          Alta                           230
29    29             X-23          Alta                           220
30    30           Domino          Alta                           210

0             Men-M Popularidad-M Ventas Estimadas (Millones)_M
1        Spider-Man      Muy Alta                           900
2          Iron Man      Muy Alta                           750
3   Captain America      Muy Alta                           800
4         Wolverine      Muy Alta                           700
5              Thor      Muy Alta                           650
6              Hulk          Alta                           600
7    Doctor Strange          Alta                           500
8     Black Panther          Alta                           580
9          Deadpool          Alta                           550
10          Ant-Man          Alta                           450
11          Hawkeye          Alta                           400
12           Vision          Alta                           420
13           Falcon          Alta                           410
14   Winter Soldier          Alta                           430
15        Star-Lord          Alta                           440
16            Groot          Alta                           450
17   Rocket Raccoon          Alta                           460
18             Drax          Alta                           420
19             Loki          Alta                           470
20           Thanos          Alta                           480
21          Cyclops          Alta                           450
22          Magneto          Alta                           500
23      Quicksilver          Alta                           430
24            Beast          Alta                           410
25           Gambit          Alta                           400
26         Colossus          Alta                           390
27     Nightcrawler          Alta                           380
28           Iceman          Alta                           370
29    Silver Surfer          Alta                           360
30         Punisher          Alta                           350

In [11]:
df_quienvendemas

,Rango,Woman,Popularidad_W,Ventas Estimadas (Millones)-W,,Men-M,Popularidad-M,Ventas Estimadas (Millones)_M
1,1,Captain Marvel,Muy Alta,540,,Spider-Man,Muy Alta,900
2,2,Black Widow,Muy Alta,530,,Iron Man,Muy Alta,750
3,3,Scarlet Witch,Muy Alta,550,,Captain America,Muy Alta,800
4,4,Storm,Muy Alta,600,,Wolverine,Muy Alta,700
5,5,Jean Grey,Muy Alta,490,,Thor,Muy Alta,650
6,6,Invisible Woman,Alta,580,,Hulk,Alta,600
7,7,She-Hulk,Alta,450,,Doctor Strange,Alta,500
8,8,Gamora,Alta,430,,Black Panther,Alta,580
9,9,Wasp,Alta,420,,Deadpool,Alta,550
10,10,Rogue,Alta,410,,Ant-Man,Alta,450
11,11,Elektra,Alta,400,,Hawkeye,Alta,400
12,12,Jessica Jones,Alta,390,,Vision,Alta,420
13,13,Kitty Pryde,Alta,380,,Falcon,Alta,410
14,14,Mystique,Alta,370,,Winter Soldier,Alta,430
15,15,Valkyrie,Alta,360,,Star-Lord,Alta,440
16,16,Shuri,Alta,350,,Groot,Alta,450
17,17,Nebula,Alta,340,,Rocket Raccoon,Alta,460
18,18,Mantis,Alta,330,,Drax,Alta,420
19,19,Peggy Carter,Alta,320,,Loki,Alta,470
20,20,Squirrel Girl,Alta,310,,Thanos,Alta,480
21,21,Medusa,Alta,300,,Cyclops,Alta,450
22,22,Moondragon,Alta,290,,Magneto,Alta,500
23,23,Spider-Woman,Alta,280,,Quicksilver,Alta,430
24,24,Psylocke,Alta,270,,Beast,Alta,410
25,25,Jubilee,Alta,260,,Gambit,Alta,400
26,26,Dazzler,Alta,250,,Colossus,Alta,390
27,27,America Chavez,Alta,240,,Nightcrawler,Alta,380
28,28,Monica Rambeau,Alta,230,,Iceman,Alta,370
29,29,X-23,Alta,220,,Silver Surfer,Alta,360
30,30,Domino,Alta,210,,Punisher,Alta,350

In [12]:
df_caracteristicas = pd.read_csv('charcters_stats.csv')

In [13]:
df_caracteristicas

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [14]:
df_marvelcaracteristicas = pd.read_csv('marvel_characters_info.csv')

In [15]:
df_marvelcaracteristicas

,ID,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,A-Bomb,good,Male,yellow,Human,No Hair,Marvel Comics,-,203.0,441.0
1,1,Abe Sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,2,Abin Sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,3,Abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,-,203.0,441.0
4,4,Abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,-,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,good,Female,blue,Human,Strawberry Blond,Marvel Comics,-,165.0,52.0
730,730,Ymir,good,Male,white,Frost Giant,No Hair,Marvel Comics,white,304.8,-99.0
731,731,Yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66.0,17.0
732,732,Zatanna,good,Female,blue,Human,Black,DC Comics,-,170.0,57.0
733,733,Zoom,bad,Male,red,-,Brown,DC Comics,-,185.0,81.0

In [16]:
df_superheroes_popular = pd.read_csv('superheroes_power_matrix.csv')

In [17]:
df_superheroes_popular

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False